# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build

# testing
coverage

# misc
.DS_Store
*.pem

# env
.env
.env.local
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts.bak

# seed downloads (large)
.cache/openfda
